# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.buildproducts/
.cache/
.idea/
.gradle/
.vscode/
*.vcxproj.user
*.vspscc
*.suo
*.user
*.userosscache
*.sln.docstates

# Flutter/Dart/Pub
**/doc/api/
*.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place the build files here
android/app/debug
android/app/profile
android/app/release

# iOS/XCode
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.pbxuser
ios/**/*.perspectivev3
ios/**/*.xcuserstate
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/GeneratedPluginRegistrant.*

# Exceptions to above rules.
