<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- 不频繁切换 -->
        <a href="https://www.baidu.com">百度</a>
        <!-- <div v-if="flag2">v-if</div>
        <div v-else>v-else</div> -->
        <div></div>
        <button @click="cnt--;
        cnt--;
        cnt--;
        console.log('cnt-3');">-</button>
        <span>{{cnt}}</span>
        <button @click="cntadd(99)">+</button>
        <div></div>


        <!-- css 控制显示隐藏 -->
        <div v-show="flag2">v-show</div>
        <button v-show="index>0" @click="index--">up</button>
        <span>
            <img :src="list[index]" :alt="alttext" width="150"  />
        </span>
        <button v-show="index<list.length-1" @click="index++">next</button>
        
        <ul>
            ul list
            <li v-for="(item,index) in arr">{{item}}</li>
        </ul>

    </div>

</body>

</html>


<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>

<script>

    const app = new Vue({
        el: '#app',
        data: {
            message: '<a href="https://www.baidu.com">百度</a>'
            , index:0
            , flag1: true
            , flag2: false
            , cnt: 100
            , alttext: 'img'
            , list:[
            'https://avatars.steamstatic.com/3f5e9daea59216d7fe13df4e031d3537580e5e21_full.jpg',
            'https://avatars.steamstatic.com/44b65fa70c3df3819aa00d7b9cb13a40ac7cc2dc_full.jpg',
            'https://avatars.steamstatic.com/8257abe7d9202f99594e65bd6776211b7cbcd25a_full.jpg',
            'https://avatars.cdn.queniuqe.com/0ee392234f84c6a11c8872d312e0cd4ab5cb6598_full.jpg',
            ]
            ,arr:[
                'ez',
                'ez2',
                'ez3'
            ]
        },
        methods: {
            cntadd(addnum) {
                console.log(this.cnt + ' add ' + addnum);
                this.cnt += addnum;
            },
        }
    })
</script>